/********************************
    U T I L I T I E S 
*********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    height: 100%;
}


.visibility_hidden {
    visibility: hidden;
    position: absolute;
    top: -9999rem;
}

.content-gap {
    visibility: hidden;
}

.h2 {
    text-align: center;
    font: bold 2rem/1.5 overlock;
    margin: 0 0 1.5rem 0;
    color: #2c6dbc;
}




.homepage {
    font: 1rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3a4047;

/* Let footer take remaining space */
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    /* overflow: hidden; */
}

.first-fold {
    background: #f8f8ff;
    background: linear-gradient(135deg, #f8f8ff, #f6fafe, #f8f8ff);
    position: relative;
    margin-bottom: 3rem;
}


.homepage__header {
    text-align: center;
    margin: 3rem auto;
    color: rgb(103, 116, 137);
}

.logo {
    /* 
        * For fallback if image does not show up
        * The width & height is specified as attributes in <img> 
        * ...so it doesn't controll the fallback text
        *
        */
    font-size: 1.5rem;
    font-weight: bold;
}



.country-section {
    margin-bottom: 3rem;
}

.country-summary {
    text-align: center;

    position: relative;
    left: -0.5rem;
    margin-bottom: 1.5rem;
}

.country-summary::-webkit-details-marker {
    color: #f3f3f3; 
}

.country-summary__count {
    background: #f9eae5;
    color: #782000;
    padding: 0.3rem 1rem 0.4rem;
    border-radius: 0.3rem;
}

.country-region {
    flex: 0 0 10rem;
    height: 15rem;
    overflow: auto;
    margin: 0 0.5rem 1rem;
    background-color: #f9f9fa;
    border-radius: 0.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid #dee1e5;
}

.country-region::-webkit-scrollbar {
    width: 0.5rem;
    background: #e4effb;
    border-radius: 0 1rem 1rem 0;
}

.country-region::-webkit-scrollbar-thumb {
    background-color: #abb4be;
    border-radius: 1rem;
}

.country-region dd {
    padding: 0.5rem 1rem;
    line-height: 1;
    color: #636d7a;
    border-bottom: 1px dotted #dee1e5;
}

.country-region dt {
    background-color: #eceef0;
    color: #1a406e;
    padding: 0.75rem 1rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
    position: sticky;

    /* -1px instead of 0 because of font blurriness & overflow of dt element at the top */
    top: -1px;  
} 

.country-view-switch {
    border: 4px solid #f8f8ff;
    border-radius: 0.8rem;
    width: 40px;
    height: 40px;
    background: #1a406e;
    color: #f8f8ff;
    cursor: pointer;

    /* Center Self */
    display: block;
    margin: auto;
    
    /* Overlay another section */
    position: relative;
    z-index: 10;
}

.country-view-switch:hover {
    /* background: #1a406e;
    color: #f8f8ff; */
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1), 
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #92A7F1;
    color: white;
}

.country-view-switch:focus {
    border-color: white;
    outline: 0;
}



.main-nav {
    background: #2c6dbc;
    padding: 3rem 0 6rem;
    
    position: relative;

    /* For Overflown ::after */
    overflow: hidden;
}

.main-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    border-left: 100vw solid transparent;
    border-bottom: 3rem solid white;
}

.main-nav__title {
    font: bold 2rem/1.5 overlock, sans-serif;
    color: #f8f8ff;
    text-align-last: center;
    margin-bottom: 1.5rem;
}

.main-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main-nav__item {
    padding: 0.5rem;
    background: #fbfefc;
    border: 1px solid #ebeeec;
    border-radius: 1rem;
    margin: 0.25rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-decoration: none;
}

.main-nav__item:hover {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1), 
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #92A7F1;
}

.main-nav__item:hover .main-nav__item-value,
.main-nav__item:hover .main-nav__item-title {
    color: white;
}


.main-nav__item-value {
    font-size: 2rem;
    text-align: center;
    color: #007e20;
    font: bold 1.8rem/1.5 overlock;
}

.main-nav__item-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    font-size: 0.75rem;
    color: #597260;
    font-weight: bold;
}




.faq {
    margin: 0 auto 6rem;
    width: 80%;
    max-width: 600px;
}





/* M A P */

.world-map {
    width: 90vw;
    max-width: 32rem;
}

.country, .africa__country {
    fill: #dee1e5;
    stroke: white;
    stroke-width: 0.5px;
    cursor: pointer; 
}

.africa__country {
    stroke-width: 1px;
}

.country text, .africa__country text {
    fill: #1a406e;
    stroke-width: 0;
    cursor: pointer; 
    background-color: darkgreen;
}

.africa__country circle {
    fill: #cc3600;
    stroke-width: 1px;
    stroke: #faeae5;
}

.country:hover, .africa__country:hover {
    fill: #3684E4;
    fill: #92A7F1;
    fill:#a4c7f2;
    stroke: #a4c7f2;
    /* fill: #00D236; */
}

.country:hover text, .africa__country:hover text {
    fill: #3a4047;
    fill: #cc3600;
}

.africa__country:hover .annotation {
    fill: #eceef0;
}


.africa-regions {
    padding: 0 1rem;
    display: none;
    max-width: 30rem;
    margin: auto;
}

.show-region.js-active .africa-regions {
    display: block;
}

.region {
    margin: 0 1rem;
}

.na::before,
.wa::before,
.ca::before,
.ea::before,
.sa::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 0.5rem;
}

.na::before {
    background: #f2cabd;
}

.wa::before {
    background: #acf0bd;
}

.ca::before {
    background: #bbd5f6;
}

.ea::before {
    background: #6be5e9;
}

.sa::before {
    background: #bfe05c;
}

.wa::before {
    background: #acf0bd;
}

.show-region .northern-africa {
    fill: #f2cabd;
}

.show-region .western-africa {
    fill: #acf0bd;
}

.show-region .middle-africa {
    fill: #bbd5f6;
}

.show-region .eastern-africa {
    fill: #6be5e9;
}

.show-region .southern-africa {
    fill: #bfe05c;
}

.segment-input,
.world-map {
    display: none;
}

.js-active .segment-input {
    display: initial;
}

.js-active .world-map {
    display: flex;
}

.js-active .country_carousel-view {
    display: none
}



.country_carousel-view {
    display: flex;
    overflow: auto;
}

.country_carousel-view::before,
.country_carousel-view::after {
    content: "";
    flex: 0 0 1.5rem;
}


.faq-entry {
    border-top: 1px solid #dee1e5;
    /* padding: 1rem; */
}

.faq-entry:last-child {
    border-bottom: 1px solid #dee1e5;
}

.faq-entry__question {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    color: #636d7a;
}

.faq-entry__question::before,
.faq-entry__question::after {
    content: '';
    width: 0.75rem;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 1rem;
    background-color: #d96842;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
}

.faq-entry__question:hover {
    background: #f6fafe;
    /* color: #1a406e; */
    font-weight: bold;
}

.faq-entry__question:focus {
    outline: 0;
}

.faq-entry__question::after {
    transform: translateY(-50%) rotate(90deg);
}

.faq-entry[open] .faq-entry__question {
    font-weight: bold;
}

.faq-entry[open] .faq-entry__question::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq-entry__answer {
    padding: 0.5rem 2rem 1.5rem ;
}

.faq-entry__question::-webkit-details-marker {
    display: none;
}


.footer {
    padding: 3rem;
    background: #1a406e;
    color: white;

    flex: 1;
}

@media screen and (min-width: 1000px) {

    .homepage__header {
        display: flex;
        margin: 2rem 3rem 0;
        text-align: left;
    }

    .logo {
        margin-right: 1rem;
        position: relative;
        top: -0.4rem;
    }

    .country-section {
        margin-bottom: 0;
    }

    .country_carousel-view {
        width: 40.5rem;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .country_carousel-view::after,
    .country_carousel-view::before {
        flex: 0 0 0;
    }

    .country-summary {
        left: 0;
    }

    .main-nav__title {
        color: #2c6dbc;
    }

    .main-nav__list {
        max-width: 22rem;
    }

    .main-nav::after {
        border-bottom-color: #d1f7db;
    }

    .country-section {
        position: relative;
        top: -3rem;
    }

    .country-view-switch {
        position: absolute;
        top: 0.5rem;
        right: -1.5rem;
    }

    

    .data-section {
        display: flex;
        width: 100%;
        padding: 1.5rem 5%;
        justify-content: space-between;
        align-items: center;
        flex-flow: row-reverse nowrap;
    }

    .main-nav {
        background: transparent;
    }

    .country-view-switch {
        background: #d1f7da;
        color: #007e20;
    }

    .first-fold::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-left: 90vw solid transparent;
        border-bottom: 3rem solid white;
    }
}